.loadmorebtn {
    background: #1678d4;
    width: 40%;
    border-radius: 20px 20px;
    max-height: 50px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    margin: auto auto;
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
  }
  
  .loadmorebtn p {
    font-family: 'Abel', sans-serif;
    font-size:22px;
    padding: 10px;
  }
  
  .loadmorebtn:hover {
    opacity: 0.8;

  }